.container-skills {
  padding: 7em 0em 5em 0em;
  margin: 0 13%;
}

.subtitle {
  font-size: 2.3em;
  padding-bottom: 0.2em;
  color: #01a9db;
  border-bottom: solid;
  border-bottom-color:  #01a9db;
  border-bottom-width: 4px; 
}

.skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  column-gap: 5%;
  row-gap: 30%;
  margin-top: 5%;
}

.skills-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-weight: bold;
  }

}

.skills-icons {
 width: 5em; 
}


@media (max-width: 768px){
  .skills {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0%;
    row-gap: 10%;
  }

  .skills-icons {
    width: 4em;
  }
}

@media (max-width: 360px){
  .container-skills {
    margin: 0 2%;
  }

  .skills {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills-icons {
    width: 3em;
  }
}