.container-skills {
  margin-top: 65px;
  margin-left: 13%;
  margin-right: 13%;
}

.subtitle {
  font-size: 2em;
  padding-bottom: 0.2em;
  color: #01a9db;
  border-bottom: solid;
  border-bottom-color:  #01a9db;
  border-bottom-width: 4px; 
}

.skills {
  background-color: mediumseagreen;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20% 5%;
}

.skills-icons {
 width: 45px; 
 justify-self: center;
 align-self: center;
}


/*
.about-skills{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    background-color: palevioletred;
    margin: 0.3rem;
    padding: 0.8rem;
    border-radius: 6%;
} */