nav {
  background: #01a9db;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom-width: 2px;

  ul {
    float: right;
    margin-right: 80px;
  }

  li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

  a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
  }
}

.logo {
  width: 80px;
  margin-left: 50px;
}

.a-logo {
  padding: 0px;
  font-size: 0px;
  margin-left: 50px;
}


a.active,a:hover {
  background: #005fab;
  transition: .5s;
}


@media (max-width: 952px){
  .logo {
    margin-top: 7px;
    width: 70px;
    margin-left: 30px;
  }

  .a-logo {
    margin-left: 30px;
  }

  nav ul{
    margin-right: 30px;

    li{
      margin: 0px;
    }

    a{
      font-size: 16px;
      padding: 6px;
    }
  }
}

@media (max-width: 768px){
  .logo {
    margin-left: 10px;
  }

  .a-logo {
    margin-left: 10px;
  }
}

@media (max-width: 360px){
  .logo {
    margin-top: 17px;
    width: 50px;
    margin-left: 5px;
  }
  
  .a-logo {
    margin-left: 5px;
  }

  nav ul{
    margin-right: 5px;

    li{
      margin: 0px;
    }

    a{
      font-size: 13px;
      font-family: 'Lucida Sans';
      padding: 6px;
    }
  }
}

