.div-hello {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-name {
  margin: 0% 5%;
  position: absolute;
  top: 28%;
  text-align: center;
  color: white;
  font-size: 3em;
}

.hi {
  font-size: 1.3em;
  margin-bottom: 0.5em;
  color: #01a9db;
}

.line {
  border-bottom-style: solid;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  color: #01a9db
}

.texts {
  padding-top: 0.5em;
}


@media (max-width: 768px){
  .div-name {
    font-size: 2.5em;
  }

  .hi {
    font-size: 1em;
  }
  .name {
    font-size: 1.4em;
  }
  .texts {
    font-size: 1em;
  }
}

@media (max-width: 360px){
  .div-name {
    top: 35%
  }
  .hi {
    font-size: 0.8em;
  }
  .name {
    font-size: 1em;
  }
  .texts {
    font-size: 0.7em;
  }
}
