.container-projects {
  margin-left: 13%;
  margin-right: 13%;
}

.main-card {
  margin-top: 3em;
}

.card-project {
  padding-bottom: 8em;
  display: flex;
  align-items: center;
  justify-content:center
  
}

.img-project {
  width: 500px;
}

.card-information {
  text-align: center;
  padding: 0.5em;
}

.card-image {
  padding: 0.5em;
}

.p-information {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: justify;
  line-height : 25px;
  
}

.btn-project {
  background-color: #01a9db;
  color: #ffffff;
  border: none;
  outline: inherit;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  padding: 7px 25px;
  font-size: 1em;
  margin: 20px;
  box-shadow: 1px 1px 2px #005fab;
}

.btn-project:hover {
  background-color: #005fab;
  transition: .5s;
}

@media (max-width: 952px){
  .card-project {
    flex-direction: column; 
  }

  .card-information {
    margin-top: 10px;
  }
}

@media (max-width: 360px){
  .container-projects {
    margin-left: 2%;
    margin-right: 2%;
  }

  .card-project {
    padding-bottom: 4em;
  }

  .img-project {
    width: 340px;
  }
}