.container-projects {
  padding-top: 9rem;
  margin: 0 5%;
}

.card-project {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-image {
  width: 32.6rem;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.30);
}

.image-project {
  width: 100%;
}

.div-detail {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.title-project {
  font-size: 3rem;
}

.sub-title {
  font-size: 2.5rem;
}

.p-information {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: justify;
  line-height : 2.5rem;
}

.div-btn {
  display: flex;
  justify-content: center;
}

@media (min-width: 480px) {
  .container-projects {
    margin: 0 10%;
  }

  .div-image {
    width: 37rem;
    transition: 1s;
  }

  .div-image:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 768px) {
  .card-project {
    padding: 8% 0;
  }

  .div-image {
    width: 45rem;
  }
}

@media (min-width: 1024px) {
  .card-project {
    padding: 5% 0;
    flex-direction: row;
  }

  .div-image {
    width: 45%;
    margin: 2%;
  }

  .div-detail {
    width: 50%;
    padding: 0 0.5rem;
  }
}