.container-projects {
  padding-top: 6em;
  margin: 0% 13% 0% 13%;

}

.main-card {
  margin-top: 3em;
}

.card-project {
  padding-bottom: 8em;
  display: flex;
  align-items: center;
  justify-content:center
  
}

.img-project {
  width: 500px;
}

.card-information {
  text-align: center;
  margin-left: 1.1em;
  padding: 0.5em;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  width: 550px;
  height: 370px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
  transition: 1s;
}

.card-image:hover {
  transform: scale(1.1);
}

.a-img:hover {
  background-color: white;
}

.title-project {
  font-size: 1.9em;
}

.p-information {
  margin-top: 20px;
  font-size: 1.3em;
  text-align: justify;
  line-height : 25px;
}

.project-icons {
  width: 40px;
}

.btn-project {
  background-color: #01a9db;
  color: #ffffff;
  border: none;
  outline: inherit;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  margin: 25px 20px;
  width: 125px;
  height: 40px;
  box-shadow: 1px 1px 2px #005fab;
}

.btn-project:hover {
  background-color: #005fab;
  transition: .5s;
}

@media (max-width: 1024px){
  .card-project {
    flex-direction: column; 
  }

  .card-information {
    margin-top: 10px;
  }
}

@media (max-width: 360px){
  .container-projects {
    margin-left: 2%;
    margin-right: 2%;
  }

  .card-project {
    padding-bottom: 2em;
  }

  .card-image {
    width: 345px;
    height: 240px;
  }

  .card-image:hover {
    transform: scale(1);
  }

  .img-project {
    width: 340px;
  }

  .btn-project {
    margin: 20px 10px;
  }

  .card-information {
    margin-left: 0em;
    padding: 0em 0.5em;
  }

}

