.footer {
  background-color: #01a9db;
  margin-top: 50px;
  height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

}

.p-footer {
  font-size: 1.3em;
}

@media (max-width: 360px){
  .footer {
    margin-top: 25px;
    height: 55px;
  }

  .p-footer {
    font-size: 1em;
  }
}