.container-contact {
  display: flex;
  flex-direction: column;;
  align-items: center;
}

.title-contact {
  font-size: 2.5em;
  color: #293949;
}

.networks {
  margin-top: 30px;
  display: flex;
}

.a-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.network-uno {
  width: 170px;
  height: 70px;
  border-radius: 7px;
  margin: 4em;
  color: #D54B3D;
  border: 2px solid #D54B3D;
}

.network-dos {
  width: 170px;
  height: 70px;
  border-radius: 7px;
  margin: 4em;
  color: #379AD0;
  border: 2px solid #379AD0;
}

.network-tres {
  width: 170px;
  height: 70px;
  border-radius: 7px;
  margin: 4em;
  color: #000000;
  border: 2px solid #000000;
}



.a-contact:hover {
  background: none;
}

.icon-network-uno {
  max-height: 35px;
  width: auto; 
  margin: 10px;
}

.icon-network-dos {
  max-height: 40px;
  width: auto; 
  margin: 10px;
}

.icon-network-tres {
  max-width: 55px;
  width: auto; 
  margin-right: 10px;
}

.p-network {
  font-size: 1.2em;
}

@media (max-width: 768px){
  .network-uno {
    margin: 1em;
  }

  .network-dos {
    margin: 1em;
  }

  .network-tres {
    margin: 1em;
  }
    
}

@media (max-width: 360px){
    .networks {
    display: flex;
    flex-direction: column;
  }

}