.container-contact {
  padding-top: 5em;
  margin: 0% 13% 0% 13%;
  display: flex;
  flex-direction: column;;
  align-items: center;
}

.subtitle-dos {
  font-size: 2.3em;
  padding-bottom: 1.5em;
  color: #01a9db;
}

.title-contact {
  font-size: 2.5em;
  color: #293949;
}

.networks {
  margin-top: 30px;
  display: flex;
}

.a-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.network-uno {
  width: 170px;
  height: 70px;
  border-radius: 7px;
  margin: 4em;
  color: #D54B3D;
  border: 2px solid #D54B3D;
  box-shadow: 6px 6px 10px -1px rgba(213, 75, 61, 0.15);
  transition: 1s;
}

.network-uno:hover {
  transform: scale(1.1);
}

.network-dos {
  width: 170px;
  height: 70px;
  border-radius: 7px;
  margin: 4em;
  color: #379AD0;
  border: 2px solid #379AD0;
  box-shadow: 6px 6px 10px -1px rgba(55, 154, 208, 0.15);
  transition: 1s;
}

.network-dos:hover {
  transform: scale(1.1);
}

.network-tres {
  width: 170px;
  height: 70px;
  border-radius: 7px;
  margin: 4em;
  color: #000000;
  border: 2px solid #000000;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
  transition: 1s;
}

.network-tres:hover {
  transform: scale(1.1);
}

.a-contact:hover {
  background: none;
}

.icon-network-uno {
  max-height: 35px;
  width: auto; 
  margin: 10px;
}

.icon-network-dos {
  max-height: 40px;
  width: auto; 
  margin: 10px;
}

.icon-network-tres {
  max-width: 55px;
  width: auto; 
  margin-right: 10px;
}

.p-network {
  font-size: 1.2em;
}

@media (max-width: 768px){
    .networks {
    display: flex;
    flex-direction: column;
  }

  .network-uno {
    margin: 1em;
  }

  .network-dos {
    margin: 1em;
  }

  .network-tres {
    margin: 1em;
  }
    

  .subtitle-dos {
    text-align: center;
    padding-bottom: 1.2em;
  }
}

@media (max-width: 360px){
  .subtitle-dos {
    font-size: 1.8em;
  }

  .title-contact {
    font-size: 2.4em;
  }

  .networks {
    margin-top: 15px;
  }
}